header.header
    .header__wrapper
        a(href="/")
            h1.header__logotype Leroy Merlin
        nav.header__navigation
            a.header__link(href="#") О нас
            a.header__link(href="#") Видео
            a.header__link(href="#") Вакансии
            a.header__link(href="#") Контакты
