menu.paginator
    button.paginator__slide.paginator__slide_current(type="button", data-slide="1")
    button.paginator__slide(type="button", data-slide="2")
    button.paginator__slide(type="button", data-slide="3")
    button.paginator__slide(type="button", data-slide="4")
    button.paginator__slide(type="button", data-slide="5")
    button.paginator__slide(type="button", data-slide="6")
    button.paginator__slide(type="button", data-slide="7")
