.scene.scene__tablet
    
    .container.container__down
        .container.container__top
        .container.container__left
        .container.container__right
        .container.container__bottom
        .container.container__up-1
        .container.container__up-2
            
    .container.container__down.container_2
        .container.container__top
        .container.container__left
        .container.container__right
        .container.container__bottom
        .container.container__up-1
        .container.container__up-2
            
    .container.container__down.container_3
        .container.container__top
        .container.container__left
        .container.container__right
        .container.container__bottom
        .container.container__up-1
        .container.container__up-2
    
    .container-item.container-item_1
    .container-item.container-item_2
    .container-item.container-item_3
        
    .dot
        .star-wrapper: .star
        .star-wrapper.star-wrapper-1: .star
        .star-wrapper.star-wrapper-2: .star
        .star-wrapper.star-wrapper-3: .star
        .star-wrapper.star-wrapper-4: .star
        .star-wrapper.star-wrapper-5: .star
        .star-wrapper.star-wrapper-6: .star
        .star-wrapper.star-wrapper-7: .star
        .star-wrapper.star-wrapper-8: .star
        .star-wrapper.star-wrapper-9: .star
        .star-wrapper.star-wrapper-10: .star
        .star-wrapper.star-wrapper-11: .star
        .star-wrapper.star-wrapper-12: .star
        .star-wrapper.star-wrapper-13: .star
        .star-wrapper.star-wrapper-14: .star
    
    .gear.gear_1
    .gear.gear_2
    .gear.gear_3
    .gear.gear_4
    .gear.gear_5
        
    .gear.gear_6
    .gear.gear_7
    .gear.gear_8
    .gear.gear_9
    .gear.gear_10
    
    .clock__arrow-1
    .clock__arrow-2
    svg.clock(width='81px', height='173px', viewbox='0 0 81 173', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
      g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
        g#Screen_5(transform='translate(-116.000000, -100.000000)')
          g#illustration(transform='translate(-5.000000, 100.000000)')
            g#clock(transform='translate(116.000000, -305.000000)')
              g#Group-18(transform='translate(5.000000, 0.000000)')
                path#Fill-1(d='M37.599,398.33045 L42.701,398.33045 L42.701,65.3215 L37.599,65.3215 L37.599,398.33045 L37.599,398.33045 Z', fill='#42F5F4')
                path#Fill-3(d='M80.2817,443.63055 C77.3347,466.27155 57.9837,480.51655 35.5497,477.59355 C27.1807,476.50355 20.0167,472.49755 14.1967,467.67255 C15.8907,465.97855 17.6827,465.03055 19.0477,463.50855 C33.7797,447.05955 57.8117,432.60455 72.2627,425.93555 C74.6817,424.81855 75.9107,424.08255 77.5807,423.29555 C79.7897,428.94455 81.2637,436.08755 80.2817,443.63055', fill='#2784AD')
                path#Fill-4(d='M79.7563,442.51725 C76.8283,464.41125 56.7053,479.78525 34.8133,476.85625 C12.9203,473.92825 -2.4537,453.80525 0.4743,431.91325 C3.4033,410.020254 23.5263,394.64625 45.4183,397.57625 C67.3113,400.50325 82.6853,420.625254 79.7563,442.51725', fill='#42F5F4')
                path#Fill-5(d='M79.7563,442.51725 C76.8283,464.41125 56.7053,479.78525 34.8133,476.85625 C26.4473,475.73825 19.7833,472.31325 13.9643,467.48825 C15.8783,465.84225 17.6093,464.47825 19.0833,463.22825 C35.9133,448.92925 59.4663,436.41925 71.9813,426.58625 C74.0433,424.96525 75.5173,424.03225 77.2873,422.460254 C79.4963,428.11025 80.7653,434.97925 79.7563,442.51725', fill='#31BBDB')
                path#Fill-6(d='M72.4458,440.49285 C69.9838,458.88985 53.0738,471.81085 34.6758,469.34885 C16.2788,466.88785 3.3598,449.97685 5.8208,431.57985 C8.2818,413.180854 25.1908,400.26285 43.5888,402.72385 C61.9868,405.184854 74.9068,422.094854 72.4458,440.49285', fill='#31BBDB')
                path#Fill-7(d='M73.4263,441.67255 C70.9663,460.06955 54.0563,472.98955 35.6583,470.52755 C17.2613,468.06755 4.3423,451.15655 6.8033,432.75855 C9.2643,414.360554 26.1743,401.44255 44.5713,403.901554 C62.9693,406.364554 75.8893,423.27455 73.4263,441.67255', fill='#EDEDED')
                path#Fill-8(d='M42.3643,408.192054 C42.3643,409.372054 41.4073,410.330054 40.2283,410.330054 C39.0483,410.330054 38.0913,409.372054 38.0913,408.192054 C38.0913,407.012054 39.0483,406.056054 40.2283,406.056054 C41.4073,406.056054 42.3643,407.012054 42.3643,408.192054', fill='#31BBDB')
                path#Fill-9(d='M42.3643,466.17345 C42.3643,467.35245 41.4073,468.31045 40.2283,468.31045 C39.0483,468.31045 38.0913,467.35245 38.0913,466.17345 C38.0913,464.99345 39.0483,464.03545 40.2283,464.03545 C41.4073,464.03545 42.3643,464.99345 42.3643,466.17345', fill='#31BBDB')
                path#Fill-10(d='M12.6738,437.73505 C12.6738,438.91605 11.7168,439.87305 10.5378,439.87305 C9.3578,439.87305 8.4008,438.91605 8.4008,437.73505 C8.4008,436.55605 9.3578,435.60005 10.5378,435.60005 C11.7168,435.60005 12.6738,436.55605 12.6738,437.73505', fill='#31BBDB')
                path#Fill-11(d='M71.3188,437.73505 C71.3188,438.91605 70.3618,439.87305 69.1808,439.87305 C68.0008,439.87305 67.0448,438.91605 67.0448,437.73505 C67.0448,436.55605 68.0008,435.60005 69.1808,435.60005 C70.3618,435.60005 71.3188,436.55605 71.3188,437.73505', fill='#31BBDB')
                path#Fill-12(d='M64.5405,419.415654 C64.5405,420.595654 63.5835,421.553654 62.4035,421.553654 C61.2245,421.553654 60.2675,420.595654 60.2675,419.415654 C60.2675,418.236654 61.2245,417.279654 62.4035,417.279654 C63.5835,417.279654 64.5405,418.236654 64.5405,419.415654', fill='#31BBDB')
                path#Fill-13(d='M21.2197,417.549454 C21.2197,418.728454 20.2627,419.685454 19.0837,419.685454 C17.9047,419.685454 16.9477,418.728454 16.9477,417.549454 C16.9477,416.369454 17.9047,415.411454 19.0837,415.411454 C20.2627,415.411454 21.2197,416.369454 21.2197,417.549454', fill='#31BBDB')
                path#Fill-14(d='M62.478,457.48015 C62.478,458.66015 61.521,459.61715 60.34,459.61715 C59.162,459.61715 58.204,458.66015 58.204,457.48015 C58.204,456.30015 59.162,455.34315 60.34,455.34315 C61.521,455.34315 62.478,456.30015 62.478,457.48015', fill='#31BBDB')
                path#Fill-15(d='M22.3989,458.36485 C22.3989,459.54385 21.4429,460.49985 20.2619,460.49985 C19.0829,460.49985 18.1259,459.54385 18.1259,458.36485 C18.1259,457.18285 19.0829,456.22685 20.2619,456.22685 C21.4429,456.22685 22.3989,457.18285 22.3989,458.36485', fill='#31BBDB')

    .road-2
    .bag
    svg.stars-from-bag(width='82px', height='113px', viewbox='0 0 82 113', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
      g
        path#star-1.n1(d='M4.2461,46.44 C2.8531,47.757 0.8651,48.759 0.8651,48.759 C0.8651,48.759 2.6051,49.358 4.1131,50.869 C5.6231,52.375 6.3361,54.23 6.3361,54.23 C6.3361,54.23 7.1271,52.355 8.5591,50.923 C9.9901,49.494 11.8071,48.759 11.8071,48.759 C11.8071,48.759 9.8731,47.833 8.5591,46.593 C7.2441,45.356 6.3361,43.288 6.3361,43.288 C6.3361,43.288 5.6391,45.126 4.2461,46.44', fill='#FFFF6C')
        path#star-2.n2(d='M74.2461,26.44 C72.8531,27.757 70.8651,28.759 70.8651,28.759 C70.8651,28.759 72.6051,29.358 74.1131,30.869 C75.6231,32.375 76.3361,34.23 76.3361,34.23 C76.3361,34.23 77.1271,32.355 78.5591,30.923 C79.9901,29.494 81.8071,28.759 81.8071,28.759 C81.8071,28.759 79.8731,27.833 78.5591,26.593 C77.2441,25.356 76.3361,23.288 76.3361,23.288 C76.3361,23.288 75.6391,25.126 74.2461,26.44', fill='#FFFF6C')
        path#star-3.n3(d='M39.4902,27.012 C38.5322,27.918 37.1642,28.608 37.1642,28.608 C37.1642,28.608 38.3632,29.02 39.4002,30.059 C40.4372,31.096 40.9292,32.371 40.9292,32.371 C40.9292,32.371 41.4732,31.083 42.4572,30.098 C43.4412,29.113 44.6922,28.608 44.6922,28.608 C44.6922,28.608 43.3622,27.97 42.4572,27.119 C41.5532,26.27 40.9292,24.844 40.9292,24.844 C40.9292,24.844 40.4472,26.108 39.4902,27.012', fill='#FFFF6C')
        path#star-4.n1(d='M42.9854,109.406 C42.4454,109.917 41.6734,110.305 41.6734,110.305 C41.6734,110.305 42.3474,110.538 42.9334,111.123 C43.5194,111.707 43.7954,112.427 43.7954,112.427 C43.7954,112.427 44.1014,111.7 44.6564,111.145 C45.2114,110.591 45.9164,110.305 45.9164,110.305 C45.9164,110.305 45.1674,109.946 44.6564,109.465 C44.1464,108.986 43.7954,108.183 43.7954,108.183 C43.7954,108.183 43.5254,108.896 42.9854,109.406', fill='#FFFF6C')
        path#star-5.n2(d='M58.5723,34.593 C57.6873,35.427 56.4263,36.064 56.4263,36.064 C56.4263,36.064 57.5303,36.444 58.4863,37.401 C59.4453,38.358 59.8973,39.534 59.8973,39.534 C59.8973,39.534 60.3983,38.344 61.3063,37.438 C62.2153,36.53 63.3683,36.064 63.3683,36.064 C63.3683,36.064 62.1403,35.476 61.3063,34.691 C60.4723,33.905 59.8973,32.592 59.8973,32.592 C59.8973,32.592 59.4553,33.759 58.5723,34.593', fill='#FFFF6C')
        path#star-6.n3(d='M42.082,2.307 C41.414,2.939 40.459,3.418 40.459,3.418 C40.459,3.418 41.295,3.705 42.019,4.429 C42.742,5.154 43.084,6.041 43.084,6.041 C43.084,6.041 43.463,5.144 44.15,4.458 C44.836,3.771 45.709,3.418 45.709,3.418 C45.709,3.418 44.781,2.975 44.15,2.38 C43.52,1.786 43.084,0.795 43.084,0.795 C43.084,0.795 42.75,1.676 42.082,2.307', fill='#FFFF6C')
        path#star-7.n1(d='M17.2617,19.536 C16.2947,20.449 14.9137,21.144 14.9137,21.144 C14.9137,21.144 16.1207,21.56 17.1697,22.609 C18.2167,23.655 18.7117,24.943 18.7117,24.943 C18.7117,24.943 19.2607,23.642 20.2537,22.649 C21.2477,21.656 22.5097,21.144 22.5097,21.144 C22.5097,21.144 21.1677,20.502 20.2537,19.64 C19.3417,18.783 18.7117,17.348 18.7117,17.348 C18.7117,17.348 18.2287,18.623 17.2617,19.536', fill='#FFFF6C')
        path#star-8.n2(d='M18.8203,94.885 C17.1803,96.435 14.8403,97.614 14.8403,97.614 C14.8403,97.614 16.8883,98.321 18.6643,100.097 C20.4393,101.87 21.2803,104.054 21.2803,104.054 C21.2803,104.054 22.2113,101.849 23.8943,100.163 C25.5803,98.48 27.7193,97.614 27.7193,97.614 C27.7193,97.614 25.4433,96.523 23.8943,95.065 C22.3473,93.609 21.2803,91.174 21.2803,91.174 C21.2803,91.174 20.4593,93.338 18.8203,94.885', fill='#FFFF6C')
        path#star-9.n3(d='M52.9688,88.295 C51.4568,89.725 49.2968,90.812 49.2968,90.812 C49.2968,90.812 51.1878,91.464 52.8258,93.102 C54.4648,94.739 55.2398,96.757 55.2398,96.757 C55.2398,96.757 56.0998,94.719 57.6528,93.165 C59.2088,91.612 61.1818,90.812 61.1818,90.812 C61.1818,90.812 59.0818,89.806 57.6528,88.457 C56.2248,87.116 55.2398,84.869 55.2398,84.869 C55.2398,84.869 54.4828,86.866 52.9688,88.295', fill='#FFFF6C')
        path#star-10.n1(d='M42.9688,45.295 C41.4568,46.725 39.2968,47.812 39.2968,47.812 C39.2968,47.812 41.1878,48.464 42.8258,50.102 C44.4648,51.739 45.2398,53.757 45.2398,53.757 C45.2398,53.757 46.0998,51.719 47.6528,50.165 C49.2088,48.612 51.1818,47.812 51.1818,47.812 C51.1818,47.812 49.0818,46.806 47.6528,45.457 C46.2248,44.116 45.2398,41.869 45.2398,41.869 C45.2398,41.869 44.4828,43.866 42.9688,45.295', fill='#FFFF6C')

    
