<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title box
        link(rel="stylesheet", href="css/styles.css")
    body
        .scene.scene__mobile
            .box.box__down
                .box.box__top
                .box.box__left
                .box.box__right
                .box.box__bottom
                .box.box__up-1
                .box.box__up-2
                .item

            .box.box_1.box__down
                .box.box__top
                .box.box__left
                .box.box__right
                .box.box__bottom
                .box.box__up-3
                .box.box__up-4
                .item.item_1

            .box.box_2.box__down
                .box.box__top
                .box.box__left
                .box.box__right
                .box.box__bottom
                .box.box__up-1
                .box.box__up-2
                .item.item_2

            .road
