extends ../elements/layout/layout.jade
block content
    include ../elements/header/header.jade
    include ../elements/paginator/paginator.jade
    include ../elements/social/social.jade
    .page
        include ../elements/slide/slide-1.jade
        include ../elements/slide/slide-2.jade
        include ../elements/slide/slide-3.jade
        include ../elements/slide/slide-4.jade
        include ../elements/slide/slide-5.jade
        include ../elements/slide/slide-6.jade
        include ../elements/box/mobile.jade
        include ../elements/box/tablet.jade
        include ../elements/box/desktop.jade
        include ../elements/footer/footer.jade
