nav.apps
    span.apps__text Доступно на смартфонах
    a.apps__link.apps__link_apple(href="#") AppStore
    a.apps__link.apps__link_android(href="#") Google Play
    span.apps__text и в соцсетях
    a.apps__link.apps__link_vk(href="#") vkontakte
    a.apps__link.apps__link_ok(href="#") одноклассники
