@import "../../helpers/*.css";

.social {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;

    &_fixed {
        position: absolute;
        bottom: auto;
        left: 0;
        }

    &__link {
        display: block;
        width: 50px;
        height: 50px;
        overflow: hidden;
        font-size: 0;
        line-height: 50px;
        text-align: center;
        transition: background-color .25s;
        &:before {
            color: $white;
            }
        &_ok {
            background: #ED812B;
            &:before {
                @mixin icon "\ea03";
                font-size: 24px;
                }
            &:hover {
                background-color: color(#ED812B l(-10%));
                }
            }
        &_vk {
            background: #45668E;
            &:before {
                @mixin icon "\ea04";
                font-size: 24px;
                }
            &:hover {
                background-color: color(#45668E l(-10%));
                }
            }
        }
    }


@media (max-width: 500px) {
    html body .social {
        &__link {
            width: 25px;
            height: 25px;
            line-height: 25px;
            &:before {
                font-size: 12px;
                }
            }
        }
    }
