$black: #000;
$black-light: #282828;
$white:  #fff;
$green: #5cc252;
$green-hover: #71bf44;
$green-current: #50B848;
$gold: #fede0d;
$grey: #2e2e2e;
$grey-light: #e2e2e2;
$grey-border: #585858;
$grey-social: #828282;
$purple: #7645A0;
