footer.footer.slide_7.slide_dark
    .footer__wrapper
        nav.footer__navigation
            a.footer__link(href="#") О нас
            a.footer__link(href="#") Новости
            a.footer__link(href="#") Наша команда
            a.footer__link(href="#") Вакансии
            a.footer__link(href="#") Игра
        nav.footer__social
            a.footer__social-link.footer__social-link_fb(href="#")
            a.footer__social-link.footer__social-link_tw(href="#")
            a.footer__social-link.footer__social-link_vk(href="#")
            a.footer__social-link.footer__social-link_yt(href="#")
        p.footer__copyright © 2014 Леруа Мерлен.
