.slide.slide_green.slide_6
    .slide__wrapper
        h1.slide__title Попробуй свои силы уже сейчас!
        img.slide__devices(src="images/devices.png", alt="Устройства")
        nav.slide__navigation
            h2.slide__subtitle Играй на смартфоне или в соцсетях:
            a.slide__link.slide__link_appstore(href="#") AppStore
            a.slide__link.slide__link_googleplay(href="#") Google Play
            a.slide__link.slide__link_vk(href="#") vkontakte
            a.slide__link.slide__link_ok(href="#") одноклассники
