.slide.slide_green.slide_4
    .slide__wrapper
        h1.slide__title Продавец-консультант
        p Помогай покупателям, пополняй запасы товаров и организуй работу целого зала! 
        p Думаешь, что это просто? Виртуальный магазин в твоем распоряжении! 
        a.slide__play.slide__play_dark(href="#") Играть!
    include ../apps/apps.jade
