.slide.slide_white.slide_3
    .head
    .slide__wrapper
        h1.slide__title Сотрудник склада
        p Управляй сложной техникой, познай архитектуру склада, находи нужное среди множества, и все это в режиме ограниченного времени.
        p Ты всегда на шаг впереди? Создай свою стратегию и найди лучшее решение! 
        a.slide__play(href="#") Играть!
    include ../apps/apps_dark.jade
