@import "../../helpers/*.css";

.slide {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    line-height: 100vh;
    text-align: center;
    padding: 0 30px;
    box-sizing: border-box;

    &_white {
        background: $white;
        }
    &_green {
        background: $green url(../images/slide-bg-2.jpg) 50% 50% repeat;
        }
    &_gold {
        background: $gold url(../images/slide-bg-1.jpg) 50% 50% repeat;
        background-size: cover;
        }

    &__wrapper{
        display: inline-block;
        vertical-align: middle;
        line-height: 20px;
        text-align: left;
        max-width: 1260px;
        padding-top: 110px;
        }

    &__screen {
        top: 170px;
        bottom: 210px;
        left: 0;
        right: 0;
        position: absolute;
        margin: auto;
        width: 100%;
        background-color: $black;
        z-index: 3;
        display: none;
        &-tube {
            width: 100%;
            height: 100%;
            display: block;
            }
        &-close {
            @mixin clear_button;
            position: absolute;
            top: 0;
            left: 100%;
            margin: 0 0 0 10px;
            color: $black;
            font-size: 0;
            line-height: 0;
            text-indent: -9999px;
            overflow: hidden;
            width: 20px;
            height: 20px;
            line-height: 20px;
            cursor: pointer;
            transition: color .25s;
            &:hover {
                color: $white;
                }
            &:before {
                @mixin icon "\ea08";
                font-size: 20px;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                text-align: center;
                text-indent: 0;
                }
            }
        }

    &__video {
        @mixin clear_button;
        overflow: hidden;
        position: absolute;
        top: 292px;
        bottom: 210px;
        left: 0;
        right: 0;
        margin: auto;
        width: 100px;
        height: 100px;
        cursor: pointer;
        text-indent: -999px;
        background: url(../images/play.svg) 50% 50% no-repeat;
        z-index: 2;
        }

    &__play {
        text-decoration: none;
        display: inline-block;
        color: $white;
        line-height: 70px;
        font-weight: bold;
        font-size: 24px;
        text-align: center;
        background: $green-current;
        width: 260px;
        max-width: 100%;
        height: 70px;
        border-radius: 35px;
        border: 3px solid $white;
        box-sizing: border-box;
        box-shadow: 0 0 4px 0 color($black a(25%));
        transition: background-color .25s;
        &:hover {
            background-color: color($green-current l(-10%));
            }
        &_dark {
            background-color: $purple;
            &:hover {
                background-color: color($purple l(-10%));
                }
            }
        }

    &_1 {
        .slide {
            &__play{
                position: absolute;
                left: 0;
                right: 0;
                bottom: 110px;
                margin: auto;
                }
            &__wrapper{
                text-align: center;
                height: 100vh;
                box-sizing: border-box;
                position: relative;
                }
            &__title{
                font-family: 'PF Din Bold';
                margin: 90px 0 0;
                color: $black;
                font-size: 50px;
                line-height: 61px;
                }
            &__subtitle {
                font-family: 'PF Din Bold';
                color: $white;
                font-size: 50px;
                line-height: 61px;
                }
            }
        }

    &_6 {
        .slide {
            &__wrapper {
                text-align: center;
                position: relative;
                }
            &__title {
                font-family: 'PF Din Bold';
                margin: 170px 0 0;
                color: $white;
                font-size: 50px;
                line-height: 61px;
                margin: 0 0 20px;
                }
            &__devices {
                max-width: 100%;
                max-height: calc(100vh - 335px);
                margin: 0 0 30px;
                }
            &__subtitle {
                font-size: 17px;
                line-height: 24px;
                color: $black;
                margin: 0 0 30px;
                }
            &__link {
                display: inline-block;
                text-decoration: none;
                height: 60px;
                width: 200px;
                line-height: 60px;
                border-radius: 30px;
                background-color: $black;
                text-align: center;
                color: $white;
                font-weight: 200;
                font-size: 16px;
                margin: 0 20px 20px;
                overflow: hidden;
                vertical-align: top;
                transition: background-color .25s;
                &_appstore {
                    font-size: 0;
                    text-indent: -999px;
                    background: $black url(../images/appstore.svg) 50% 50% no-repeat;
                    &:hover {
                        background-color: color($black l(+10%));
                        }
                    }
                &_googleplay {
                    font-size: 0;
                    text-indent: -999px;
                    background: $black url(../images/googleplay.svg) 50% 50% no-repeat;
                    &:hover {
                        background-color: color($black l(+10%));
                        }
                    }
                &_vk {
                    background-color: #45668E;
                    &:hover {
                        background-color: color(#45668E l(-10%));
                        }
                    &:before{
                        @mixin icon "\ea04";
                        margin: 0 10px 0 0;
                        font-size: 24px;
                        }
                    }
                &_ok {
                    background-color: #F58220;
                    &:hover {
                        background-color: color(#F58220 l(-10%));
                        }
                    &:before{
                        @mixin icon "\ea03";
                        margin: 0 10px 0 0;
                        font-size: 24px;
                        }
                    }
                }
            &__navigation {
                font-size: 0;
                line-height: 60px;
                }
            }
        }

    &_2 {
        .slide {
            &__wrapper {
                overflow: visible;
                &:before {
                    content: "";
                    display: block;
                    width: 754px;
                    height: 663px;
                    background: url(../images/screen.png) 0 0 no-repeat;
                    position: absolute;
                    top: 50%;
                    right: 50%;
                    margin: -260px 50px 0 0;
                    }
                }
            &__list {
                &-item {
                    height: 90px;
                    line-height: 90px;
                    margin: 0 0 20px;
                    padding: 0 0 0 100px;
                    background: url(../images/star.svg) 0 50% no-repeat;
                    p {
                        max-width: 530px;
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 17px;
                        line-height: 24px;
                        }
                    }
                }
            &__title {
                color: $white;
                font-size: 50px;
                line-height: 61px;
                margin: 0 0 30px;
                font-family: 'PF Din Bold';
                }
            &__play {
                margin: 74px 0 0;
                }
            }
        }

    &_3 {
        &:before {
            content: "";
            display: block;
            width: 50%;
            height: 100vh;
            background: url(../images/conv-1.svg) 100% 50% no-repeat;
            background-size: auto 100%;
            position: absolute;
            top: 0;
            right: 50%;
            margin: 0 50px 0 0;
            }
        }

    &_4 {
        &:before {
            content: "";
            display: block;
            width: 50%;
            height: 100vh;
            background: url(../images/conv-2.svg) 100% 50% no-repeat;
            background-size: auto 100%;
            position: absolute;
            top: 0;
            right: 50%;
            margin: 0 50px 0 0;
            }
        }

    &_5 {
        &:before {
            content: "";
            display: block;
            width: 50%;
            height: 100vh;
            background: url(../images/conv-3.svg) 100% 50% no-repeat;
            background-size: auto 100%;
            position: absolute;
            top: 0;
            right: 50%;
            margin: 0 50px 0 0;
            }
        }

    &_2,
    &_3,
    &_4,
    &_5 {
        .slide {
            &__wrapper{
                max-width: 630px;
                padding: 0 0 0 630px;
                }
            }
        }

    &_3,
    &_4,
    &_5 {
        p {
            font-size: 17px;
            line-height: 24px;
            margin: 0 0 24px;
            max-width: 630px;
            }
        .slide {
            &__title {
                color: $black;
                font-size: 50px;
                line-height: 61px;
                margin: 0 0 30px;
                font-family: 'PF Din Bold';
                }
            &__play {
                margin: 74px 0 0;
                }
            }
        }
    }

/* and (max-width: 1360px)*/

@media (min-width: 851px) {
    html.csstransforms3d.cssanimations body .page .slide {
        &_3 {
            &:before {
                width: 280px;
                height: 430px;
                background: url(../images/things.svg) 0 0 no-repeat;
                position: absolute;
                right: 75%;
                top: -20px;
                margin: 0 11px 0 0;
                }
            .head {
                position: absolute;
                right: 76%;
                top: 50%;
                margin: -126px 75px 0 0;

                width: 68px;
                height: 87px;
                display: block;
                z-index: 3;

                animation: head 3s infinite;
                transform-origin: 34px 100%;

                background: url(../images/head.svg) 0 0 no-repeat;
                }
            &:after {
                content: "";
                display: block;
                width: 164px;
                height: 336px;
                position: absolute;
                right: 76%;
                top: 50%;
                margin-top: -128px;
                z-index: 2;
                background: url(../images/character-1-2.svg) 0 84px no-repeat;
                }
            }

        &_4 {
            &:before {
                content: "";
                display: block;
                width: 168px;
                height: 275px;
                position: absolute;
                right: 80%;
                top: 50%;
                margin: -200px 0 0 0;
                background: url(../images/shelf.svg) 0 0 no-repeat;
                }
            .hand {
                width: 124px;
                height: 68px;
                display: block;
                background: url(../images/hand.svg) 0 0 no-repeat;
                position: absolute;
                right: 76%;
                top: 50%;
                margin: -70px 15px 0 0;
                z-index: 2;
                transform-origin: 10px 10px;
                animation: hand 2s infinite;
                }
            &:after {
                content: "";
                display: block;
                width: 161px;
                height: 318px;
                position: absolute;
                right: 76%;
                top: 50%;
                margin-top: -159px;
                background: url(../images/character-2-2.svg) 0 0 no-repeat;
                }
            }

        &_5 {
            &:before {
                background: none;
                }
            &:after {
                content: "";
                display: block;
                width: 322px;
                height: 294px;
                position: absolute;
                right: 66%;
                top: 50%;
                margin: -147px 75px 0 0;
                background: url(../images/character-3.svg) 0 0 no-repeat;
                z-index: 20;
                }
            }

        &_2,
        &_3,
        &_4,
        &_5 {
            .slide {
                &__wrapper {
                    width: 66%;
                    position: relative;
                    max-width: initial;
                    padding: 110px 0 110px 33%;
                    &:before {
                        right: 66%;
                        }
                    }
                }
            }
        }
    }

@media (min-width: 501px) and (max-width: 850px) {
    html body .slide {
        &_2 .slide__wrapper,
        &_3,
        &_4,
        &_5 {
            &:before,
            &:after {
                visibility: hidden;
                }
            }

        &_3,
        &_4,
        &_5 {
            padding: 0 30px 0 180px;
            }
        &__screen {
            top: 90px;
            }
        &__wrapper {
            padding-top: 60px;
            }

        &_1 {
            .slide {
                &__title{
                    top: 30px;
                    }
                }
            }

        &_2,
        &_3,
        &_4,
        &_5 {
            .slide {
                &__play {
                    margin-top: 24px;
                    }
                }
            }

        &_2,
        &_3,
        &_4,
        &_5,
        &_6 {
            .slide {
                &__wrapper{
                    padding: 0;
                    }
                &__subtitle,
                &__title {
                    font-size: 36px;
                    line-height: 42px;
                    }
                }
            }

        &_2,
        &_3,
        &_4,
        &_5 {
            .slide {
                &__wrapper {
                    width: 100%;
                    position: relative;
                    max-width: initial;
                    padding: 0;
                    }
                }
            }
        }
    }

@media (max-width: 500px) {
    html body .slide{
        &_3,
        &_4,
        &_5 {
            padding: 0 30px 0 90px;
            }
        &__play {
            line-height: 36px;
            height: 40px;
            font-size: 16px;
            display: inline-block;
            width: 120px;
            border-radius: 30px;
            padding: 0 20px;
            margin: 0 0 14px;
            border-width: 2px;
            }
        &__screen {
            top: 70px;
            }
        &__wrapper {
            box-sizing: border-box;
            padding: 0;
            }

        &_1 {
            .slide {
                &__title{
                    top: 30px;
                    }
                }
            }

        &_2,
        &_3,
        &_4,
        &_5 {
            .slide {
                &__play {
                    margin-top: 24px;
                    }
                }
            }


        &_2,
        &_3,
        &_4,
        &_5,
        &_6 {
            p {
                font-size: 12px;
                display: block;
                line-height: 14px;
                margin: 0 0 14px;
                }
            .slide {
                &__wrapper {
                    padding: 0;
                    }
                &__list {
                    &-item {
                        padding: 0;
                        background: none;
                        height: auto;
                        line-height: 14px;
                        p {
                            font-size: 12px;
                            display: block;
                            line-height: 14px;
                            margin: 0 0 14px;
                            }
                        }
                    }
                &__subtitle,
                &__title {
                    font-size: 24px;
                    line-height: 28px;
                    }
                }
            }


        &_2,
        &_3,
        &_4,
        &_5 {
            &:after,
            &:before {
                display: none;
                }
            .slide {
                &__wrapper {
                    width: 100%;
                    position: relative;
                    max-width: initial;
                    &:before {
                        display: none;
                        }
                    }
                }
            }
        }
    }


html.limit-600-900 body .slide {

    &__screen {
        top: 90px;
        bottom: 200px;
        }

    &_1 .slide{
        &__title {
            margin: 30px 0 0;
        }
    }

    &_6 .slide{
        &__subtitle {
            font-size: 16px;
            line-height: 18px;
            color: $black;
            margin: 0 0 20px;
            }
        &__devices {
            max-width: 100%;
            max-height: calc(100vh - 435px);
            margin: 0 0 30px;
            }
        }
    &_2,
    &_3,
    &_4,
    &_5 {
        .slide{
            &__link {
                height: 40px;
                line-height: 40px;
                font-size: 12px;
                margin: 0 10px 10px;
                width: 140px;
                white-space: nowrap;
                background-size: 60% 60%;
                &:before{
                    margin: 0 5px 0 0;
                    font-size: 14px;
                    }
                }
            &__subtitle,
            &__title {
                font-size: 40px;
                line-height: 56px;
                margin: 0 0 20px;
                }
            &__list {
                &-item {
                    padding: 0 0 0 50px;
                    background-size: 30px auto;
                    background-position: 0 0;
                    min-height: 30px;
                    line-height: 24px;
                    height: auto;
                    p {
                        font-size: 18px;
                        display: block;
                        line-height: 24px;
                        margin: 0 0 20px;
                        max-width: 630px;
                        }
                    }
                }
            &__play {
                line-height: 56px;
                height: 60px;
                font-size: 18px;
                display: block;
                width: 200px;
                border-radius: 30px;
                padding: 0 40px;
                margin: 0 0 20px;
                border-width: 2px;
                }
            p {
                font-size: 18px;
                display: block;
                line-height: 24px;
                margin: 0 0 20px;
                }
            }
        }
    }

html.limit-600 body .slide {
    &__screen {
        top: 90px;
        bottom: 160px;
        }
    &__wrapper {
        padding-top: 60px;
        }
    &_6 .slide{
        &__title {
            font-size: 24px;
            line-height: 36px;
            }
        &__subtitle {
            font-size: 12px;
            line-height: 14px;
            color: $black;
            margin: 0 0 14px;
            }
        &__devices {
            display: none;
            }
        &__navigation {
            width: 160px;
            margin: auto;
            }
        &__link {
            float: left;
            height: 60px;
            width: 60px;
            margin: 0 5px 10px;
            font-size: 0;
            position: relative;
            text-indent: -9999px;
            background-image: none;

            &:before {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                text-align: center;
                line-height: 60px;
                font-size: 24px;
                text-indent: 0;
                margin: 0;
                }

            &_vk {
                clear: both;
                }

            &_appstore {
                &:before{
                    @mixin icon "\ea02";
                    font-size: 24px;
                    line-height: 60px;
                    }
                }
            &_googleplay {
                &:before{
                    @mixin icon "\ea01";
                    font-size: 24px;
                    line-height: 60px;
                    }
                }
            }
        }
    &_1 {
        .slide{;
            &__video {
                width: 50px;
                height: 50px;
                background-size: contain;
                }
            &__play {
                line-height: 36px;
                height: 40px;
                font-size: 16px;
                display: block;
                width: 120px;
                border-radius: 30px;
                padding: 0 20px;
                margin: 0 auto;
                border-width: 2px;
                bottom: 90px;
                }
            &__title {
                margin: 30px 0 0;
                }
            &__subtitle,
            &__title {
                font-size: 24px;
                line-height: 36px;
                }
            }
        }

    &_2,
    &_3,
    &_4,
    &_5 {
        p {
            font-size: 12px;
            display: block;
            line-height: 14px;
            margin: 0 0 14px;
            }
        .slide{
            &__subtitle,
            &__title {
                font-size: 24px;
                line-height: 36px;
                margin: 0 0 14px;
                }
            &__list {
                &-item {
                    padding: 0;
                    background: none;
                    height: auto;
                    line-height: 14px;
                    list-style: disc;
                    p {
                        font-size: 12px;
                        display: block;
                        line-height: 14px;
                        margin: 0 0 14px;
                        max-width: none;
                        }
                    }
                }
            &__play {
                line-height: 36px;
                height: 40px;
                font-size: 16px;
                display: block;
                width: 120px;
                border-radius: 20px;
                padding: 0 14px;
                margin: 0 0 14px;
                border-width: 2px;
                }
            }
        }
    }

@media (min-height: 601px) and (max-height: 900px) {
    html body .slide {
        &:after,
        &:before {
            background: none;
            }
        &_1 .slide{
            &__title {
                margin-top: 30px;
                }
            }
        &_6 .slide{
            &__subtitle {
                font-size: 16px;
                line-height: 18px;
                color: $black;
                margin: 0 0 20px;
                }
            &__devices {
                max-width: 100%;
                max-height: calc(100vh - 435px);
                margin: 0 0 30px;
                }
            }
        &_2,
        &_3,
        &_4,
        &_5 {
            .slide{
                &__link {
                    height: 40px;
                    line-height: 40px;
                    font-size: 12px;
                    margin: 0 10px 10px;
                    width: 140px;
                    white-space: nowrap;
                    background-size: 60% 60%;
                    &:before{
                        margin: 0 5px 0 0;
                        font-size: 14px;
                        }
                    }
                &__subtitle,
                &__title {
                    font-size: 40px;
                    line-height: 56px;
                    margin: 0 0 20px;
                    }
                &__list {
                    &-item {
                        padding: 0 0 0 50px;
                        background-size: 30px auto;
                        background-position: 0 0;
                        min-height: 30px;
                        line-height: 24px;
                        height: auto;
                        p {
                            font-size: 18px;
                            display: block;
                            line-height: 24px;
                            margin: 0 0 20px;
                            max-width: 630px;
                            }
                        }
                    }
                &__play {
                    line-height: 56px;
                    height: 60px;
                    font-size: 18px;
                    display: block;
                    width: 200px;
                    border-radius: 30px;
                    padding: 0 40px;
                    margin: 0 0 20px;
                    border-width: 2px;
                    }
                p {
                    font-size: 18px;
                    display: block;
                    line-height: 24px;
                    margin: 0 0 20px;
                    }
                }
            }
        }
    }


@media (max-height: 600px) {
    html body .slide {
        &__screen {
            top: 90px;
            bottom: 160px;
            }
        &__wrapper {
            padding-top: 60px;
            }
        &_6 .slide{
            &__title {
                font-size: 24px;
                line-height: 36px;
                }
            &__subtitle {
                font-size: 12px;
                line-height: 14px;
                color: $black;
                margin: 0 0 14px;
                }
            &__devices {
                display: none;
                }
            &__navigation {
                width: 160px;
                margin: auto;
                }
            &__link {
                float: left;
                height: 60px;
                width: 60px;
                margin: 0 5px 10px;
                font-size: 0;
                position: relative;
                text-indent: -9999px;
                background-image: none;

                &:before {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    text-align: center;
                    line-height: 60px;
                    font-size: 24px;
                    text-indent: 0;
                    margin: 0;
                    }

                &_vk {
                    clear: both;
                    }

                &_appstore {
                    &:before{
                        @mixin icon "\ea02";
                        font-size: 24px;
                        line-height: 60px;
                        }
                    }
                &_googleplay {
                    &:before{
                        @mixin icon "\ea01";
                        font-size: 24px;
                        line-height: 60px;
                        }
                    }
                }
            }
        &_1 {
            .slide{
                &__video {
                    width: 50px;
                    height: 50px;
                    background-size: contain;
                    }
                &__play {
                    line-height: 36px;
                    height: 40px;
                    font-size: 16px;
                    display: block;
                    width: 120px;
                    border-radius: 30px;
                    padding: 0 20px;
                    margin: 0 auto;
                    border-width: 2px;
                    bottom: 90px;
                    }
                &__subtitle,
                &__title {
                    font-size: 24px;
                    line-height: 36px;
                    }
                }
            }

        &_2,
        &_3,
        &_4,
        &_5 {
            p {
                font-size: 12px;
                display: block;
                line-height: 14px;
                margin: 0 0 14px;
                }
            .slide{
                &__subtitle,
                &__title {
                    font-size: 24px;
                    line-height: 36px;
                    margin: 0 0 14px;
                    }
                &__list {
                    &-item {
                        padding: 0;
                        background: none;
                        height: auto;
                        line-height: 14px;
                        list-style: disc;
                        p {
                            font-size: 12px;
                            display: block;
                            line-height: 14px;
                            margin: 0 0 14px;
                            max-width: none;
                            }
                        }
                    }
                &__play {
                    line-height: 36px;
                    height: 40px;
                    font-size: 16px;
                    display: block;
                    width: 120px;
                    border-radius: 20px;
                    padding: 0 14px;
                    margin: 0 0 14px;
                    border-width: 2px;
                    }
                }
            }
        }
    }


@keyframes head {
    from {
        transform: rotate(0deg);
        }
    50% {
        transform: rotate(6deg);
        }
    to {
        transform: rotate(0deg);
        }
    }

@keyframes hand {
    from {
        transform: rotate(0deg);
        }
    50% {
        transform: rotate(-6deg);
        }
    to {
        transform: rotate(0deg);
        }
    }
