.slide.slide_white.slide_5
    .slide__wrapper
        h1.slide__title Кассир-консультант
        p Изучи асортимент и будь в теме новинок, оттачивай мастерство на кассе, развивай внимание к деталям и смекалку!
        p Решительность и ловкость – это про тебя? Собери корзину покупателю без единой ошибки!
        a.slide__play(href="#") Играть!
    include ../apps/apps_dark.jade
