.slide.slide_gold.slide_1
    .slide__wrapper
        h1.slide__title Гипермаркет
        h2.slide__subtitle Почувствуй игру – будь в команде Леруа Мерлен! 
        button.slide__video(type="button") Играть видео
        section.slide__screen(data-src="https://www.youtube.com/embed/rQL682f_6fM")
            button.slide__screen-close(type="button") Закрыть
        a.slide__play(href="#") Играть!
    include ../apps/apps_center.jade
        
