.slide.slide_green.slide_2
    .slide__wrapper
        h1.slide__title Вперед, к вершине рейтинга!
        ul.slide__list 
            li.slide__list-item: p Участвуй в игре, бросай вызов и набирай очки за каждый пройденный уровень.
            li.slide__list-item: p Соревнуйся с друзьями, прояви настойчивость и окажись на первой строчке рейтинга.
            li.slide__list-item: p Стань лидером и получи шанс попасть на собеседование в крупную европейскую компанию. Возможно, мы ждем именно тебя!
        a.slide__play.slide__play_dark(href="#") Играть!
    include ../apps/apps.jade
